.shell {
  :global {
    .next-shell-header {
      max-width: 1200px;
      margin: 0 auto;
      border: 0;
    }
    .next-shell-sub-main {
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}
