@import '~@alifd/next/variables.scss';

.tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .iconButton {
    margin-left: 28px;
    cursor: pointer;
  }
  .iconButton:hover {
    color: $color-brand1-6;
  }
  margin-bottom: 16px;
}

.title {
  font-size: $font-size-title;
  color: $color-brand1-6;
  font-weight: bold;
  margin-bottom: 16px;
}

.detail {
  margin-bottom: 11px;
}

.infoLine {
  line-height: 31px;
}

.under {
  border-bottom: 2px solid $color-brand1-1;
}

.drawer {
  width: 300px;
  .linkIcon {
    margin-right: 8px;
    color: $color-link-1;
  }
  .memberIcon {
    margin-right: 8px;
    color: $color-other-2;
  }
}

.drawerSubhead {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $font-size-body-2;
  margin-bottom: 16px;
  .drawerSubheadLeft {
    display: flex;
    align-items: center;
  }
}

.drawerSubhead:first-child {
  margin-top: 0;
}

.memberList {
  margin: -8px 2px 0 2px;
}

.status {
  margin: auto 0;
}
