@import '~@alifd/next/variables.scss';

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  // font-weight: bold;
  font-size: $font-size-headline;
  color: $color-text1-4;
  line-height: 24px;

  // & 是 scss 语法，代表上一级的选择器 logo，也可以看成 this.
  &:visited,
  &:active {
    text-decoration: none;
  }

  .name {
    color: $color-brand1-6;
  }

  img {
    height: $s-8;
    margin-right: 10px;
  }
}
