@import '~@alifd/next/variables.scss';

.votePageBlock {
  max-width: 720px;
  min-width: 280px;
  // min-height: 612px;
  margin: $s-10 auto;
  padding-left: 32px;
  padding-right: 32px;
  :global {
    .next-loading {
      width: 100%;
    }
    .next-input {
      font-size: $font-size-subhead;
    }
  }
}

.middleBlock {
  height: 56px;
  width: 100%;
}

.item {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: $font-size-body-2;
  margin: 8px 0;
}

.addItem {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: $font-size-body-2;
}

.itemLeft {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .index {
    color: $color-brand1-6;
    width: 30px;
    height: 24px;
  }
  .content {
    text-align: left;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.itemRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 16px;
  .delete {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.input {
  flex: 1;
  font-size: $font-size-subhead;
}

.btn {
  margin-left: 8px;
  box-shadow: 0px 0px 16px 0px rgba(1, 193, 178, 0.4);
}

.btn:hover {
  box-shadow: 0px 0px 16px 0px rgba(1, 167, 154, 0.4);
}

@media screen and (max-width: 660px) {
  .addItem {
    display: block;
    .input {
      width: 100%;
      margin-bottom: 8px;
    }
  }
}

.divider {
  margin: 8px 0;
  background-color: $color-line1-1;
}
