@import '~@alifd/next/variables.scss';

.customTab {
  .customTabHead {
    display: flex;
    justify-content: center;
    margin-top: -$shell-dark-content-paddingTop;
    // margin-right: -$shell-dark-content-paddingLeft;
    margin-bottom: 20px;
    // margin-left: -$shell-dark-content-paddingLeft;
    padding: 0 $shell-dark-content-paddingLeft;
    border: 0;
    border-top: 1px solid $color-line1-1;
    border-radius: 0px 0px $corner-1 $corner-1;
    background: $color-white;
  }
}
