@import '~@alifd/next/variables.scss';

.headerAvatar {
  // height: 100%;
  // padding: 10px;
  cursor: pointer;
}

.menu {
  line-height: 40px;
  width: 220px;

  :global {
    .next-menu-item {
      color: $color-text1-3;
    }
    .next-menu-item-inner {
      height: 40px;
    }
    .next-icon {
      margin-right: 8px;
    }
  }
}

.profile {
  display: flex;
  flex: 1 1 auto;
  align-items: flex-start;
  width: 220px;
  height: 48px;
  padding: 4px 20px 4px 20px;
}

.avatar {
  margin-right: 12px;
}

.content {
  flex: 1 0 auto;
  .userName {
    width: 128px;
    margin: 0;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: $font-size-body-2;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .email {
    width: 128px;
    color: $color-text1-3;
    font-size: $font-size-caption;
    line-height: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
