@import '~@alifd/next/variables.scss';

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
//   -webkit-background-color: yellow !important;
// }
// input:-internal-autofill-selected {
//   background-color: yellow !important;
// }

// .customeInput {
//   :global {
//     .next-input input {
//       background-color: yellow !important;
//     }
//   }
// }

.LoginBlock {
  width: 100%;
  height: 100%;
  //   padding: 40px;
}

.innerBlock {
  width: 356px;
  margin: 0 auto;
}

@media screen and (max-width: 450px) {
  .innerBlock {
    width: 280px;
  }
}

@media screen and (max-width: 355px) {
  .innerBlock {
    width: 240px;
  }
}

.title {
  color: $color-brand1-6;
  font-size: $font-size-display-3;
  text-align: center;
  margin: 16px auto;
}

.explain {
  color: $color-text1-3;
  font-size: $font-size-subhead;
  margin: 16px auto 56px;
}

.subtitle {
  color: $color-text1-4;
  font-size: $font-size-headline;
  margin: 16px auto;
}

.infoLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.link {
  color: $color-link-1;
  font-size: $font-size-body-2;
  text-align: left;
}

.submitBtn {
  width: 100%;
  //   box-shadow: 0px 0px 16px 0px rgba(1, 193, 178, 0.4);
  //   box-shadow: 0px 0px 16px 0px rgba(1, 0, 0, 0.4);
}

.submitBtn:hover {
  width: 100%;
  //   box-shadow: 0px 0px 16px 0px rgba(1, 167, 154, 0.4);
}

.buttomBlock {
  height: 96px;
}

@media screen and (max-height: 650px) {
  .buttomBlock {
    height: 48px;
  }
}
